body {
    background-color:aquamarine;
}
h1 {
    background-color: orange;
    font-family: Arial;
    text-align: center;
}
table {
    text-align: center;
    margin:auto;
}
td {
    text-align: left;
    font-family:Arial;
}
tr {
    font-family: Arial;
}